<% provide :title, t(".contact") %>
<title><%= yield :title %><%= t ".book_app" %></title>
<h1><%= t ".contact" %></h1>
<div class="contact">
  <%= link_to image_tag("framgia1.png", alt: "about"),
    "book_app/app/assets/images/framgia1.png" %>
  <p></p>
  <%= link_to image_tag("framgia2.png", alt: "about"),
    "book_app/app/assets/images/framgia2.png" %>
  </div>
</div>
