<table id="table-book-th" class="table table-condensed">
  <tbody>
    <tr>
      <td rowspan="2" class="col-md-1"><%= t ".Image" %></td>
      <td rowspan="2" class="col-md-2"><%= t ".Title" %></td>
      <td class="col-md-1"><%= t ".Pages" %></td>
      <td rowspan="2" ><%= t ".Description" %></td>
      <td class="col-md-2"><%= t ".Author" %></td>
      <td rowspan="2" class="col-md-1"><%= t ".delete" %></td>
      <td rowspan="2" class="col-md-1"><%= t ".edit" %></td>
    </tr>
    <tr>
      <td><%= t ".Rate" %></td>
      <td><%= t ".Category" %></td>
    </tr>
  </tbody>
</table>
<%= render "list_book" %>
