<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1><%= t ".edit" %></h1>
    <%= form_for [:admin, @books] do |f| %>
      <div class="field">
        <%= f.label :title, t(".new_book") %>
        <%= f.text_field :title, class: "form-control" %>
        <%= f.label :num_page, t(".num_page") %>
        <%= f.text_field :num_page, class: "form-control" %>
        <%= f.label :description, t(".description") %>
        <%= f.text_area :description %>
        <%= f.label :author_id, t(".author") %>
        <%= f.collection_select :author_id, @author_name,:id,:name,
          include_blank: false %>
        <%= f.label :category_id, t(".category") %>
        <%= f.collection_select :category_id, @category_name,:id,:name,
          include_blank: false %>
        <%= f.label :picture, t(".picture") %>
        <%= f.file_field :picture %>
        <p><%= image_tag @books.picture.url if @books.picture? %></p>
      </div>
      <%= f.submit t(".save"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
