<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1><%= t ".view_review" %></h1>
    <h4><%= t ".name_user" %></h4>
    <h2><%= @reviews.name %></h2>
    <h4><%= t ".num_rate" %> <%= @reviews.num_rate %></h4>
    <h4><%= t ".name_book" %> <%= @reviews.title %></h4>
    <h4><%= t ".content" %></h4>
    <p><%= @reviews.content %></p>
    <%= link_to t(".delete"), admin_review_path(@reviews), method: :delete,
            class: "btn btn-danger", data: {confirm: t(".you_sure")} %>
    <%= link_to t(".back"), admin_reviews_path, class: "btn btn-info"  %>
  </div>
</div>
