<table id="table-book-th" class="table table-condensed">
  <tbody>
    <tr>
      <td class="col-md-3"><%= t ".name_user" %></td>
      <td class="col-md-6"><%= t ".content" %></td>
      <td class="col-md-1"><%= t ".delete" %></td>
      <td class="col-md-1"><%= t ".view" %></td>
    </tr>
  </tbody>
</table>
<%= render "list_feedback" %>
