<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1><%= t ".edit" %></h1>
    <%= form_for [:admin, @category] do |f| %>
      <%= f.label :name, t(".edit_name") %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.submit t(".save"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
