<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2><%= t ".manage_category" %></h2>
    <%= paginate @category, theme: "twitter-bootstrap-3" %>
    <%= render "category" %>
    <%= paginate @category, theme: "twitter-bootstrap-3" %>
    <p><%= render "new_category" %></p>
  </div>
</div>
