<div class = "container row gray-bg" id="content1">
  <div class = "col-md-9 border-d6"  id="content2">
    <%= render "layouts/search_book" %>
    <%= render "layouts/book_update" %>
    <%= render "layouts/book_rating" %>
    <%= render "layouts/book_read" %>
    <%= render "layouts/book_viewed" %>
    <%= render "layouts/book_waiting" %>
  </div>
  <%= render "layouts/Top_follow_book" %> 
</div>
